<div class="row">
<div class="large-12 columns">
  <div class="row">
    <div class="large-3 columns">
      <%= image_tag(@show.poster, alt: "Poster", class: "poster")%><br>
    </div>
    <div class="large-9 columns">
      <div class="panel">
        <h4 class="hide-for-small"><%= @show.name %></h4>
        <h6 class="hide-for-small"><%= @show.genre.name %></h6>
        <h6 class="hide-for-small"><%= @show.year %></h6>
        <% sum = 0 %>
          <% @show.reviews.each do |review| %>
            <% sum += review.rating %>
          <% end %>
        <h6>Average rating: <%= sum.to_f / @show.reviews.size %></h6>
        <h6 class="subheader"><hr/><%= @show.description %></h6>
      </div>
    </div>
  </div>

<div class="row">
<div class="large-12">
  <div class="panel">
    <h5>Add Review</h5>
      <%= form_for [@show, @review] do |f| %>
        <div>
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </div>
        <div>
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        <div>
          <%= f.label :rating %>
          <%= f.select :rating, (1..5) %>
        </div>
        <div><%= f.submit "Add review" %></div>
      <% end %>
  </div>
</div>
</div>

<% @show.reviews.order(created_at: :desc).each do |review| %>
<div class="row">
<div class="large-12">
  <div class="panel">
    <div>
      <h5 class="hide-for-small"><strong><%= review.title %></strong></h5>
    </div>
    <div>
      <h6 class="hide-for-small"><%= review.body %></h6>
        <% sum = 0 %>
          <% review.votes.each do |vote| %>
            <% sum += vote.score %>
          <% end %>

        Vote Count: <%= sum  %>
        <%= link_to "upvote", upvote_review_path(review), method: :post %>
        <%= link_to "downvote", downvote_review_path(review), method: :post %>
      <h6 class="hide-for-small"><% if current_user.username == review.user.username  || current_user.role == "admin"%>
      <%= link_to "Edit review", edit_show_review_path(@show, review) %>
      <%= link_to "Delete review", show_review_path(@show, review) %></h6></hr>

      <h6 class="hide-for-small"><%= link_to "Add comment", new_show_review_comment_path(@show, review, @comment) %></h6>
      <div class="panel">

      <% review.comments.each do |comment| %>
      <li>
        <%= comment.text %>
        <% if comment.owner?(current_user) %>
          <p>
            <%= link_to "Edit comment", edit_show_review_comment_path(@show, review, comment) %>
            <%= link_to "Delete comment", show_review_comment_path(@show, review, comment) %></h6>
          </p>
        <% end %>
      </li>
    <% end %>



      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>




